body{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 16px;
 

}

.header1{
    /*background-image: url(/Users/bryan/Downloads/pexels-pixabay-235925.jpg);
    background-size:50em;*/
    background-color:lightseagreen;
    height: 20vh;
    font-size: 1.5rem;
    box-shadow: 2px 3px 10px gray;
    

}
.list{
    list-style:none;
    
}
.list li {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5rem;
}




.article1{
background-image:url(/Users/bryan/Downloads/pexels-rodnae-productions-6646918.jpg);
background-size: 50em;
background-repeat: no-repeat;
height: 70vh;
margin-bottom: 1em;
position:relative;


}





.aside-bottom{
    height: 40vh;
    
}

.article2 img {
    width: 30em;
    height: auto;
    margin:0%;
}


.article2{
    display: flex;
    align-content: center;
}
 .text3{
     color:gray;
     font-size:1.5em;
     font-weight: 400;
     text-shadow: 5px 5px 5px gainsboro;
 }
 .script{
     position: absolute;
     top:10em;
     left:10em;
     color: greenyellow;
     font-weight: 600;
     text-shadow: 5px 5px 5px gray;
     
     
    
 }
 .button1{
     position: absolute;
     top: 20em;
     left: 30em;

 }

 .titlecontainer {
    position: relative;
    z-index: 2;
 }

 .titlecontainer button{
     position: absolute;
     top: 20em;
     
     z-index: 1;

 }

 .titlesection {
     color:lightseagreen;
 }

.img-header{ 
     background-image:url(/Users/bryan/Downloads/pexels-rodnae-productions-6646918.jpg);
     height: 30em;
     background-position: center;
     background-size: 70vw 55vh;
     background-repeat: no-repeat;
     position: relative;
       
 }
 
 .img-header > div {
     height: 9em;
     width: 9em;
     font-size: 1em;
     background-color: lightseagreen;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top:3em;
     left:14em;
     border-radius: 50%;
     text-decoration: none;
       
 }

 .img-header > div a {
     text-decoration: none;
     color:whitesmoke;
 }
 .img-header > div:hover {
  background-color: lightcoral;
  transition: background 0.4s ease-in 0.3s;
  list-style:none;
 }

 .card img {
     opacity: 90%;
 }