body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    
 }
 
/*Barre de navigation*/
.header1{
    background-color:lightseagreen;
    height: 20vh;
    font-size: 1.5rem;
    box-shadow: 2px 3px 10px gray;
}

.header1 > nav {
    bottom: 1em;
    font-size:4vh;
}
.header1 > a {
    font-size: 4vh;
}


/*header2*/
.header2{
    height: 70vh;
    background-image:url(./integration-g959f609fc_1920.jpg);
}
.header2 > div {
    font-size: 3em;
    color: whitesmoke;
    font-weight: 700;
}

/*Articles*/
.article1 img{
height: 20em;
width: 25em;
margin: 1em;
border-radius: 10%;
box-shadow: 4px 5px 10px gray;
}
.article2 img{
height: 20em;
width: 25em; 
margin: 1em;
border-radius: 10%;
box-shadow: 4px 5px 10px gray;

}
.article1 div {
    margin: 5em;
  
}
.article2 div {
    margin: 5em;
    
}

.article1 h4{
    color: burlywood;
    font-weight: 700;
}
.article2 h4{
    color: burlywood;
    font-weight: 700;
}

/*FOOTER*/

footer{
    width: 100%;
    margin-top: 3vh;
    background-color:lightseagreen;
    box-shadow: 2px -3px 10px gray;
   margin-top: 1em;
 }


 footer > ul li{
    list-style: none;
 }


 footer li a {
    margin: 0%;
    color: white;
    list-style:none;
 }
 footer h3{
    color: white;
 }